<section class="articles">
  <mat-card>
    <mat-card-title>
      <a
        href="https://adventist.ua/ru/news/ukraine/pravda-chi-brehnya-yak-rozpiznati-fejki-i-ne-viriti-yim/"
        target="blank"
        >Правда или ложь: как распознать фейки и не верить им?
      </a></mat-card-title
    >
    <mat-card-subtitle>Источник: adventist.ua</mat-card-subtitle>

    <blockquote>
      Чем больше появляется ложной информации, тем популярнее становятся ресурсы
      для фактчекинга. Например,
      <a href="https://www.factcheck.org/" target="_blank">FactCheck.org (EN)</a
      >,
      <a
        href="https://www.bbc.com/news/topics/cp7r8vgl2rgt/reality-check"
        target="_blank"
        >BBC Reality Check (EN)</a
      >,
      <a href="https://www.stopfake.org/" target="_blank">StopFake (EN, UA)</a>,
      <a href="https://voxukraine.org/uk/voxcheck/" target="_blank"
        >VoxCheck (EN, RUS, UA)</a
      >,
      <a href="https://provereno.media/" target="_blank">provereno.media (RU)</a
      >.
    </blockquote>
    <blockquote>
      <h3>Как распознать фейк?</h3>
      <ol>
        <li>
          Обращайте внимание на источник. Исследуйте сайт с новостью, его
          миссию, контактные данные.
        </li>
        <li>
          Читайте весь материал. Заголовки бывают возмутительными, чтобы
          привлечь внимание.
        </li>
        <li>
          Проверьте, кто автор. Реальная ли он личность? Можно ли ему доверять?
        </li>
        <li>
          Проверьте, подтверждены ли источники. Ссылки должны содержать
          заявленную информацию.
        </li>
        <li>
          Проверьте дату публикации. Старая новость может быть нерелевантной
          текущим событиям. А если скопировать название такой публикации и
          сделать запрос в Интернете, то, в лучшем случае, высветятся события
          прошлых лет.
        </li>
        <li>
          Это точно не шутка? Убедитесь, что это действительно новость, а не
          сатира. Смотрите пункт 1 и 3.
        </li>
        <li>
          Учитывайте свои сомнения. Подумайте, как ваши убеждения влияют на
          восприятие новости.
        </li>
        <li>
          Посоветуйтесь с экспертами. Обратитесь к одному из надежных источников
          по проверке фактов - например, к сайту из списка выше.
        </li>
      </ol>
      <p>Что еще?</p>
      <ol>
        <li>
          Будьте внимательны к заголовкам. Обычно, фейковые новости имеют
          эмоциональные, яркие заголовки, которые часто кажутся невероятными.
          Оформляют их большими буквами. Если содержание статьи не соответствует
          заголовку - это фейк.
        </li>
        <li>
          Избегайте часто повторяющейся информации в пределах одной публикации.
          Действенным средством манипулирования людьми является многократное
          повторение, например, разными словами, одной и той же мысли, которое
          заставляет поверить.
        </li>
        <li>
          Следите за орфографическими и пунктуационными ошибками в тексте.
          Обычно, фейковые новости пишут или не очень образованные люди, или в
          спешке.
        </li>
        <li>
          Внимательно присмотритесь к фото и видео контенту. Очень часто они
          подделаны в фотошопе, и это заметно невооруженным глазом.
          Оригинальность фото и откуда оно можно установить в Google.
        </li>
        <li>
          Изучайте различные точки зрения на одну проблему. Это должны быть не
          менее 3 надежных, авторитетных источника, написанных разными людьми.
        </li>
        <li>
          Настораживайтесь, когда начинается всплеск эмоций. В новостях много
          острой, эмоциональной лексики, очень грустный тон, шокирующие видео
          (видеоновости). Слишком эмоциональные выводы, субъективные оценочные
          суждения, внимание только одному конкретному случаю, а не массовый
          анализ - это может быть преувеличенная, искаженная, фейковая
          информация.
        </li>
        <li>
          Присмотритесь к адресу. Часто в Интернете создают копии авторитетных
          изданий, изменяя для этого всего несколько букв.
        </li>
      </ol>
    </blockquote>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <a href="https://34.ua/kak-otlichit-fejk-ot-pravdy_n83860" target="blank"
        >Как отличить фейк от правды
      </a></mat-card-title
    >
    <mat-card-subtitle>Источник: 34.ua</mat-card-subtitle>
    <blockquote>
      <p>Как быстро понять, манипуляция перед вами или правда:</p>
      <ol>
        <li>
          Если в заголовке обещают сенсацию или шок - это скорее манипуляция или
          вообще фейк.
        </li>
        <li>
          В материале присутствует чрезмерная эмоциональная лексика или много
          прилагательных.
        </li>
        <li>
          «Ну-ка, выйдем!», «Покажем всем», «Разберемся» - поведенческие
          установки - тоже свидетельствуют о заказном материале.
        </li>
        <li>
          Информация есть, а откуда ее взяли - неизвестно. Источник не указан.
          Это тоже сомнительная информация.
        </li>
        <li>
          В новости или статье отсутствуют комментарии всех сторон конфликта. То
          есть чье-то мнение намеренно скрывается, а чье-то - выводится на
          первый план.
        </li>
      </ol>
    </blockquote>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <a
        href="https://lipetsktime.ru/news/gigiena_sotssetey/kak_otlichit_feyk_ot_pravdy/"
        target="blank"
        >Как отличить фейк от правды
      </a></mat-card-title
    >
    <mat-card-subtitle>Источник: lipetsktime.ru</mat-card-subtitle>
    <blockquote>
      <p>Правила проверки информации:</p>
      <ol>
        <li>
          Проверка информации в нескольких источниках, минимум в трёх не
          зависящих друг от друга.
        </li>
        <li>
          Наличие фактов. Чем меньше фактических данных, тем больше шансов
          усомниться.
        </li>
        <li>
          Полнота информации. Лингвистическим показателем отсутствия полноты
          информации могут служить следующие фразы: «Говорят…», «кто-то
          заметил…», «относительно недавно, не так давно…», «принято считать…» и
          т. д.
        </li>
        <li>
          Отсутствие противоречий не только в разных источниках, но и внутри
          самого информационного сообщения.
        </li>
        <li>
          Авторитетность и репутация издания, которая определяется
          оперативностью и периодичностью его выхода, отсутствием
          заинтересованности источника информации в ее содержании и
          цитируемостью источников другими СМИ.
        </li>
      </ol>
    </blockquote>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <a
        href="https://stop-ugroza.ru/bez-rubriki/obzory/pamyatka-kak-otlichit-fejk-ot-pravdy/"
        target="blank"
        >Как отличить фейк от правды
      </a></mat-card-title
    >
    <mat-card-subtitle>Источник: stop-ugroza.ru</mat-card-subtitle>

    <blockquote>
      Оригинальная ли фотография сопровождает новость? Проверьте фотографию по
      поиску, часто фото не имеет никакого отношения к посту и может
      обнаружиться на совершенно посторонних сайтах.
    </blockquote>

    <blockquote>
      Большинство фейков годами гуляет по сети, поэтому можете просто
      скопировать несколько предложений подозрительной новости и вставить в
      любой поисковик. С большой долей вероятности вы обнаружите, что эта
      новость появляется в разных городах и даже странах на протяжении многих
      лет. Как, например, фейк о мандаринах, зараженных вирусом гриппа, или фейк
      о клубничных конфетах, содержащих наркотики.
    </blockquote>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <a href="http://mediatoolbox.ru/factchecking/" target="_blank"
        >Инструкция по фактчекингу</a
      >
    </mat-card-title>
    <mat-card-subtitle>Источник: mediatoolbox.ru</mat-card-subtitle>
  </mat-card>
</section>
<p class="links">
  Также смотрите полезные видео на эту тему или читайте конспект:
  <a [routerLink]="['/useful/video']" mat-raised-button color="primary">
    Видео
  </a>
</p>
