.intro {
  text-align: center;
  padding: 24px;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
}

.result {
  padding: 56px 24px;
  margin: 24px;
  border: 1px solid pink;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .intro {
    padding: 24px 6px;
  }
  .result {
    margin: 24px 6px;
    padding: 56px 6px;
  }
}
