main {
  display: block;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.header {
  background-color: #005bbb;
  color: #ffd500;
  padding: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  margin-bottom: 10px;
}

.intro {
  text-align: center;
  padding: 24px;
}

.result {
  padding: 56px 24px;
  margin: 24px;
  border: 1px solid pink;
}
