<div class="videos">
  <mat-card>
    <mat-card-title>
      <a href="https://www.youtube.com/watch?v=WnoMcS-LAVE" target="blank">
        Как понять, что вас хотят обмануть: основные приемы пропаганды
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      Источник: Ирина Якутенко,
      <a href="https://t.me/kamenschiki​" target="_blank"
        >Безвольные каменщики</a
      >
    </mat-card-subtitle>
    <section>
      <iframe
        width="100%"
        src="https://www.youtube.com/embed/WnoMcS-LAVE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      <p>
        <i>Цель пропаганды</i> не рассказать о том, что действительно имело
        место, а увести вас в сторону: рассказать о том, чего не было, или
        исказить то, что было. Две основные группы приёмов - увод от логики и
        искажение её.
      </p>
      <p>
        В примерах используются жители двух гипотетических стран - Лимонии и
        Мандаринии.
      </p>
      <p>
        Первая группа методов основана на "замыливании реальности", уводе от
        логики, давлении на ваши эмоции:
      </p>
      <ol>
        <li>
          "Создание козла отпущения": выбор группы людей, которые становятся
          ответственными за все беды, априорно злой группы людей, от которых не
          может исходить ничего хорошего (примеры: евреи в фашисткой Германии,
          "враги народа" в СССР, "Лимонцы" в глазах "мандаринцев").
          <strong
            >Идёт расчеловечивание - люди называются не людьми, а, например,
            "нацистами", "нелюдями", "орками" и т.д., идёт аппеляция не к
            фактам, а к эмоциям. Этой группе приписываются страшные
            преступления, она выставляется как исчадие ада. Как следствие,
            продавливается точка зрения, что с такой группой можно делать всё,
            что угодно, т.к. это - враги и против них можно использовать любые
            приёмы, в т.ч. превентивные.</strong
          >
        </li>
        <li>
          Такая группа выставляется абсолютным злом, которая никогда не может
          быть правой, не может совершать добрых дел. Это делается для того,
          чтобы отсечь возможность любых сомнений и попыток договориться, а не
          использовать силу. "В Лимонийцах нет совсем никакого добра".
        </li>
        <li>
          Любые достоинства этой группы людей отрицаются или выставляются как
          недостатки
        </li>
        <li>
          В отношении к этой группе людей используется особый, презрительный
          язык, исключающий уважение: не "Лимония ответила на наши аргументы", а
          "Лимонийцы жалко попытались опровергнуть наши справедливые доводы"
        </li>
        <li>
          "Обесчеловечиваемая группа" в пропаганде не может победить. Если она
          всё же это делает, о победах противника замалчивается, а собственные
          победы выставляются не как "ошибки или случайности", а исключительно
          "как о результате победы нашего оружия".
        </li>
      </ol>
      <p>
        Другая группа приёмов направлена не столько на эмоции, сколько на
        искажение логики:
      </p>
      <ol>
        <li>
          Приписывание врагу безумного, бесчеловечного тезиса, который враг
          никогда и не выдвигал, а потом блестящее опровержение этого тезиса и
          высмеивание врага. Например, приписывание властям Лимонии политики
          "любой Мандаринец должен быть убит" и крик о том, как это
          бесчеловечно. Тот факт, что в Лимонии такой политики нет, абсолютно не
          важен для пропаганды, т.к. большинство слушателей не будут проверять
          факты. Также происходит глобализация, огромное обобщение, придумывание
          термина для обозначения такой политики (часто он заканчивается на
          -изм: нацизм, национализм, фашизм, рашизм, etc., you name it), для
          примера пусть будет "Романтизм", которое позволяет людям Мандаринии не
          вдумываться, откинуть детали. Мир становится чёрно-белым, любые нюансы
          отбрасываются, идёт отказ от любых дискуссий. Это позволяет очень
          легко принимать очень тяжелые решения в отношении огромных групп
          людей.
        </li>
        <li>
          Вариация первого пункта - самостоятельное создание некоего "факта" или
          "события", за который можно потом применить к оппоненту "санкции"
        </li>
        <li>
          "Аргумент незнания": "да, сомнения есть, но ведь никто достоверно не
          доказал, что этот факт - ошибка". Следующим шагом делается вывод:
          "никто не доказал, что это ошибка, значит это истина". Пример:
          Мандаринцы обвиняют Лимонийцев в создании оружия, которое призвано
          уничтожить всех Мандаринцев. Даже когда исследователи выдвинут много
          сомнений в этом тезисе, Мандаринцы могут сказать: "да, сомнения есть,
          но исчерпывающих доказательств, что Лимонийцы НЕ создавали это оружие
          - не существует, а это значит, что они его создавали.". Причём даже
          если все первоначальные тезисы будут доказаны, как неверные, в
          сознании большого количества людей останется мысль, что "что-то такое
          Мандаринцы могут делать", как в анекдоте:
          <blockquote>
            Звонок от друзей, после проведенного вместе праздника: <br />—
            Рабинович, вчера, после вашего ухода у нас пропали серебряные
            ложки!<br />
            — Я их не брал, я порядочный человек!<br />
            — Но ложки все-таки пропали! Так что больше не приходите к нам в
            гости! <br />Звонок на следующий день. <br />— Рабинович, ложки
            нашлись!<br />
            — Отлично. Значит я могу приходить в гости? <br />— Э нет,
            ложечки-то нашлись, но осадок остался!
          </blockquote>
        </li>
        <li>
          "Аппеляция к невообразимости", часто используется для оправдания
          собственных ошибок. Например:<br />
          "Неужели вы правда думаете, что у великого кормчего не было плана Б на
          случай наступления голода?"<br />
          "Неужели вы всерьёз думаете, что командование Мандаринии не
          предусмотрело запасной стратегии на случай, если наша быстрая
          героическая атака вдруг немного замедлится?"
        </li>
        <li>
          <a
            href="https://ru.rationalwiki.org/wiki/%D0%9E%D1%82%D1%80%D0%B8%D1%86%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B0%D0%BD%D1%82%D0%B5%D1%86%D0%B5%D0%B4%D0%B5%D0%BD%D1%82%D0%B0"
            target="_blank"
            >"Отрицание антецедента"</a
          >
          - формальная логичная ошибка.
          <blockquote>
            <h4>Формулировка ошибки</h4>
            <ol>
              <li>Если А верно, то Б верно.</li>
              <li>А ложно.</li>
              <li>Следовательно, Б ложно.</li>
            </ol>
            Такой вывод неверен, так как не указано что Б может быть верным
            только в случае верности А. Из этого следует, что другие факторы
            могли вызвать Б, в то время как А ложно.
            <h4>Пример употребления</h4>
            <ol>
              <li>
                Если человек, будучи очень пьяным, сядет за руль, он попадёт в
                аварию.
              </li>
              <li>Человек садится за руль трезвым.</li>
              <li>Следовательно, он не попадёт в аварию.</li>
            </ol>
          </blockquote>
          Пример в случае Мандаринии и Лимонии:
          <ol>
            <li>Если в Лимонии нет романтизма, то её не нужно защищать.</li>
            <li>В Лимонии есть романтизм.</li>
            <li>Следовательно, её нужно защищать</li>
          </ol>
          Сделанный здесь вывод неверен, это чистая логическа ошибка: тот факт,
          что в Лимонии есть романтизм, не значит, что Лимонию нужно защищать.
          Вполне вероятно, что в Лимонии есть романтизм, но защищать её
          по-прежнему не нужно.
        </li>
        <li>
          <a
            href="https://ru.rationalwiki.org/wiki/Non_sequitur"
            target="_blank"
            >"Non sequitur"</a
          >
          - вывод не следует из предпосылки, ещё одно нарушение формальной
          логики.
          <br />

          Пример в случае Мандаринии и Лимонии:
          <ol>
            <li>
              Мы использовали все дипломатические способы, чтобы искоренить
              романтизм в Лимонии.
            </li>
            <li>Ни один из них не сработал.</li>
            <li>Следовательно, нужно ввести войска</li>
          </ol>
          Помимо того, что этот вывод никак не следует из предпосылок, здесь
          неявным способ используется ещё один очень распространённый приём,
          <a
            href="https://ru.rationalwiki.org/wiki/%D0%9B%D0%BE%D0%B6%D0%BD%D0%B0%D1%8F_%D0%B4%D0%B8%D0%BB%D0%B5%D0%BC%D0%BC%D0%B0"
            target="_blank"
            >"создание ложной дихотомии" </a
          >:
          <ul>
            <li>
              Либо мы введём войска в Лимонию, либо ползучий романтизм
              распространится и на нашу прекрасную Мандаринию
            </li>
          </ul>
          Ложная дихотомия априорно предлагает нам только два выхода из
          сложившейся ситуации, закрывая глаза на тот факт, что вообще говоря
          выходов может быть очень много или даже бесконечно много. Примеры
          ложной дихотомии:

          <ul>
            <li>
              Либо мы введём войска в Лимонию, либо ползучий романтизм
              распространится и на нашу прекрасную Мандаринию
            </li>
            <li>
              Если мы признаем, что Солнце вращается вокруг Земли, это грозит
              разрушением всех основ нашей цивилизации
            </li>
            <li>Вы критикуете капитализм - значит вы коммунист</li>
            <li>
              Вы высказываете претензии к текущей власти, следовательно вы враг
              народа
            </li>
            <li>
              Либо вы сохраняете текущее ограничение скорости в городах, либо
              города встанут из-за того, что транспорт будет передвигаться
              слишком медленно
            </li>
            <li>
              "Вы можете приобрести подписку либо на год, либо на месяц" -
              исключается вариант, что человеку вообще не нужна подписка
            </li>
          </ul>
        </li>
        <li>
          "Заряженный вопрос" - форма ложной дихотомии, только в вопросительной
          форме. Такой вопрос, который сам по себе меняет ход беседы или
          дускруса вне зависимости от того, каким будет ответ на него, потому
          что изначально форма вопроса предполагает только такие формы ответа,
          которые выгодны задающему его и невыгодны отвечающему. Классический
          пример:
          <blockquote>Перестали ли вы уже пить коньяк по утрам?</blockquote>
          Для ситуации Лимонии и Мандаринии это может выглядеть так:
          <blockquote>
            - Я Мандаринец и я не поддерживаю нападение на Лимонию.<br />
            - Значит, вы оправдываете этих лимоно-романтистов, так?
          </blockquote>
        </li>
        <li>
          "Аппеляция к будущему": "если бы мы не напали на Лимонию сейчас,
          послезавтра Лимония напала бы на нас". В общем случае, будущее ещё не
          наступило и оно не может служить аргументацией для того, чтобы
          принимать какие-то решения в настоящем. Если точнее, такой аргумент
          всё же может быть применён, но только если имеются железобетонные
          доказательства. Серьёзные документы, результаты разветки и так далее,
          которые впоследствии обязаны быть обнародованы.
          <br />В некоторых ситуациях будущее это серая зона и по определению
          такие доказательства добыть невозможно. <br />Это сложная тема. Мы
          имеем право основываться на научных моделях, которые прогнозируют
          будущее. Однако, часто пропагандисты пытаются выдать голословные
          утверждения за научные утверждения, которые основаны на построении
          таких моделей.
        </li>
        <li>
          "Аппеляция к общему знанию" - для оправдания наших действий или
          выводов используется ссылка на некие знания, которые "и так всем
          доступны, являются частью нашего культурного кода и т.д."
          <ul>
            <li>Всем известно, что в Лимонии царит романтизм</li>
            <li>
              Не нужно объяснять, почему Лимонисткие власти - чудовищные
              диктаторы
            </li>
          </ul>
          Приём действует за счёт того, что людям неохота признавать, что они не
          знают каких-то "общеизвестных фактов", они принимают это как данность,
          а через несколько повторений это убеждение встраивается в картину мира
          человека, хотя он это услышал всего 2 недели назад по телевизору
        </li>
        <li>
          "Концентрация на частностях или доведение их до абсурда" - бесконечное
          муссирование одного случая, который, по мнению комментаторов, что-либо
          доказывает
        </li>
        <li>
          "Истинный шотландец" - видоизменяемый под доводы оппонента аргумент,
          который в принципе невозможно опровергнуть.
          <blockquote>
            <i
              >История про шотландец и "хаггис" - специфическое шотландское
              блюдо из потрохов, сваренных в бараньем желудке.</i
            >с<br />
            - Все шотландцы любят хаггис<br />
            - Но я шотландец, и я не люблю хаггис<br />
            - Ты может и не любишь, но все <b>истинные</b> шотланды любят хаггис
          </blockquote>
          <blockquote>
            <i>на примере мандаринцев и лимонцев</i><br />
            - Все лимонцы поддерживают действия лимонского президента<br />
            - Но я лимонец, и я не одобряю его действия<br />
            - Ты может и не одобряешь, но все <b>истинные</b> лимонцы
            поддерживают, поэтому дело в вас
          </blockquote>
        </li>
      </ol>
    </section>
  </mat-card>
</div>
