mat-card {
  margin: 10px 0;
  min-width: min(350px, 100vw);
  flex: 1 1 30%;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px;
  background-color: #eeeeee;
}

.links {
  text-align: center;
}
.square {
  max-width: 400px;
  height: 250px;
  color: #111;
  float: left;
  padding: 10px;
}
span {
  padding-top: 70px;
  display: inline-block;
}
